<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kirakishou.fixmypc.fixmypcapp">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".FixmypcApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/FixmypcTheme">

        <receiver
            android:name="com.kirakishou.fixmypc.fixmypcapp.helper.wifi.WiFiConnectivityChangeReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <activity android:name=".ui.activity.LoadingActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activity.ClientNewMalfunctionActivity"
            android:windowSoftInputMode="adjustResize" />

        <activity android:name=".ui.activity.ClientMainActivity"/>

        <meta-data android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyB3rwPBjBAw6GLkC8rnCTIpb1BAkoBKnZw"/>

    </application>

</manifest>